# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Plus'
      'submenu': [
        {
          'label': 'Add'
          'command': 'pulsar-git-plus:add'
        },
        {
          'label': 'Add Modified'
          'command': 'pulsar-git-plus:add-modified'
        },
        {
          'label': 'Add All'
          'command': 'pulsar-git-plus:add-all'
        },
        {
          'label': 'Checkout Current File'
          'command': 'pulsar-git-plus:checkout-current-file'
        },
        {
          'label': 'Commit'
          'command': 'pulsar-git-plus:commit'
        },
        {
          'label': 'Diff'
          'command': 'pulsar-git-plus:diff'
        },
        {
          'label': 'Diff Branches'
          'command': 'pulsar-git-plus:diff-branches'
        },
        {
          'label': 'Difftool'
          'command': 'pulsar-git-plus:difftool'
        },
        {
          'label': 'Diff All'
          'command': 'pulsar-git-plus:diff-all'
        },
        {
          'label': 'Add + Commit'
          'command': 'pulsar-git-plus:add-and-commit'
        },
        {
          'label': 'Add + Commit + Push'
          'command': 'pulsar-git-plus:add-and-commit-and-push'
        },
        {
          'label': 'Add All + Commit'
          'command': 'pulsar-git-plus:add-all-and-commit'
        },
        {
          'label': 'Add All + Commit + Push'
          'command': 'pulsar-git-plus:add-all-commit-and-push'
        },
        {
          'label': 'Push'
          'command': 'pulsar-git-plus:push'
        },
        {
          'label': 'Log'
          'command': 'pulsar-git-plus:log'
        },
        {
          'label': 'Merge'
          'submenu': [
            {
              'label': 'Normal Merge'
              'command': 'pulsar-git-plus:merge'
            },
            {
              'label': 'Merge Remote'
              'command': 'pulsar-git-plus:merge-remote'
            },
            {
              'label': 'Merge without fast-forward'
              'command': 'pulsar-git-plus:merge-no-fast-forward'
            }
          ]
        },
        {
          'label': 'Rebase'
          'command': 'pulsar-git-plus:rebase'
        },
        {
          'label': 'Run'
          'command': 'pulsar-git-plus:run'
        },
      ]
    ]
  }
]

'context-menu':
  '.status-bar .git-branch': [
    label: "New Branch"
    command: 'pulsar-git-plus:new-branch'
  ]
